
.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
* {
    margin: 0;
    padding: 0;
}


/* shared style */
.bg-color {
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}
.dark-1 {
    color: #181818;
}
.dark-2 {
    color: #757575;
}
.dark-3 {
    color: rgba(117, 117, 117, 1);
}
.btn-primary {
    padding: 15px 35px;
    color: white;
    background: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #FD6E0A;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #FFF8F3;
    color: #FD6E0A;
}
.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.section-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}
.text-center {
    text-align: center;
}
/* nav styles  */
.header {
    height: 804px;
    background: url('/images/developer.png') no-repeat, url('/images/header_bg.png') no-repeat ;
    background-position: top 18px left 23px, bottom right;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 68px 230px;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;

}
nav .nav-title {
    font-size: 45px;
    font-weight: 800;
    

}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 52px 0 230px;

}
.banner-content {
    max-width: 585px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-description {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
    
}
.download {
    display: flex;
    gap: 20px;
}
.btn-contact {
    background-color: #FFF8F3;
    color: #FD6E0A;
}
.btn-contact:hover {
    color: #FFF8F3;
    background-color: #FD6E0A;
}
.banner-profile-pic {
    width: 584px;
}
/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
    
}

/* about section  */
.about {
    width: 1140px;
    height: 550px;
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    
}
.about-content {
    max-width: 827px;
    height: 288px;
    background-color: #fff;
    text-align: center;
    padding: 2px 10px;
    border: 1px solid #474747;    
}
.about-content > h3, .about-content > p {
    margin-bottom: 30px;
}

.about-items {
    display: flex;
    justify-content: space-between;
}
.about-item {
    margin-top: 10px;
}
.item-title {
    font-size: 20px;
    /* font-weight: 400; */

}
.item-description {
    font-size: 20px;
    font-weight: 600;
}

/* what i do section style */
.what-i-do {
}
.what-i-do .section-description {
    padding: 30px 100px;
}
.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.skill {
    padding: 30px 33px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skill-title {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
}
.skill-description {
    font-size: 16px;
    font-weight: 400;
}
/* resume section styles */
.resume {
    margin: 113px 0;
}
.resume-column-container {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 113px;
    margin-bottom: 50px;
    
}
.resume-column {
    
}
.resume-column-title {
    font-size: 30px;
    font-weight: 700;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 511px;

}
.exp-title {
    font-size: 25px;
    font-weight: 700;
}
.exp-sub-title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
}
.exp-description {
    margin: 10px 0;
    font-family: 16px;
    font-weight: 400;
}
.line {
    color: rgba(209, 209, 209, 1);
    margin-top: 10px;
}